/* CSS VARIABLES */

:root {

    /* Typography */

    --ff-Rubik: 'Rubik', sans-serif;

    --fs-Body: 1.600rem;

    /* Colors */
    
    --color-Title: hsl(271, 36%, 24%);
    --color-Desc: hsl(270, 7%, 64%);
    --color-Text-Left: hsl(276, 55%, 52%);
    --color-Text-Right: hsl(271, 15%, 43%);
    --color-Pale-Violet: hsl(276, 100%, 81%);
    --color-Placehoder-Text: hsl(206, 6%, 79%);

    --color-White: hsl(0, 0%, 100%);
    --color-app-background: hsl(270, 20%, 96%);
    --color-Submit-Button-Background: hsl(271, 36%, 24%);
    --color-Radio-Button-Outline: hsl(289, 100%, 72%);

    --color-Light-Magenta: hsl(293, 100%, 63%);
    --color-Light-Violet: hsl(264, 100%, 61%);

    --gradient-Color-01: 
        to right,
        var(--color-Light-Violet),
        var(--color-Light-Magenta) 
    ;
    --gradient-Color-02: 
        to right,
        var(--color-Light-Magenta), 
        var(--color-Light-Violet)
    ;

    /* Lengths */

    --width-Container: 37.500rem;
    --height-Container: 93.600rem;

    --width-Smartphone-Screen: 24.700rem;
    --height-Smartphone-Screen: 50.500rem;

    --width-Screen-Top: 100%;
    --height-Screen-Top: 6.600rem;

    --width-Screen-Center: 100%;
    --height-Screen-Center: 36.300rem;

    --width-Screen-Bottom: 100%;
    --height-Screen-Bottom: 5.400rem;

    --width-Dynamic-Display: 12.900rem;
    --height-Dynamic-Display: 1.800rem;

    --width-Price-Option: 16.000rem;
    --height-Price-Option: 3.200rem;

    --width-Form-Input-Wrapper: 21.300rem;
    --height-Form-Input-Wrapper: 3.400rem;

    --width-Form-Send-Button: 2.400rem;
    --height-Form-Send-Button: 2.400rem;

    /* Gapping */

    --gap-Message: 0.800rem;

    /* Padding */

    --pd-Top-Column-One: 6.400rem;
    --pd-Bottom-Column-One: 6.400rem;
    --pd-Left-Column-One: 6.400rem;
    --pd-Right-Column-One: 6.400rem;

    --pd-Inline-Screen-Chat-Wrapper: 0.700rem;
    --pd-Top-Screen-Chat-Wrapper: 1.100rem;
    --pd-Bottom-Screen-Chat-Wrapper: 0.600rem;

    --pd-Block-Form: 1.000rem;

    --pd-Box-Form-Input-Wrapper: 0.500rem;

    /* Borders */

    --border-Smartphone-Block: 
        1.100rem solid var(--color-White)
    ;
    --border-Smartphone-Inline: 
        1.000rem solid var(--color-White)
    ;

    /* Margins */
    /* Radius */

    --radius-Smartphone: 2.800rem;
    --radius-Form-Input-Wrapper: 2.000rem;
    --radius-Send-Button: 5.000rem;
    --radius-Smartphone-Top: 
        1.700rem 1.700rem 
        0.500rem 0.500rem
    ;
    --radius-Dynamic-Display: 
        0.000rem 0.000rem 
        1.200rem 1.200rem
    ;
    --radius-Message-Received: 
        1.000rem 1.000rem 
        1.000rem 0.500rem
    ;
    --radius-Message-Sent: 
        1.000rem 1.000rem 
        0.500rem 1.000rem
    ;
}

/* REST DEFAULT STYLES */

html {
    font-size: 10px;
    font-family: var(--ff-Rubik);
}

html,
body {
    width: 100%;
    height: 100%;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 0.1px solid; */
}

body {
    font-size: var(--fs-Body);
}

input,
button {
    outline: none;
    border: none;
}

/* REUSABLE STYLES */

.message__received {
    border-radius: var(--radius-Message-Received);
}

.message__sent {
    border-radius: var(--radius-Message-Sent);
}

/* LAYOUT STYLES */

.container {
    display: grid;
    width: var(--width-Container);
    height: var(--height-Container);
    margin: auto;
    background-color: var(--color-app-background);
}

.column__one {
    display: grid;
    position: relative;
    padding-block: 
        var(--pd-Top-Column-One)
        var(--pd-Bottom-Column-One)
    ;
    padding-inline: 
        var(--pd-Left-Column-One)
        var(--pd-Right-Column-One)
    ;
}

.smartphone__screen {
    position: relative;
    display: grid;
    width: var(--width-Smartphone-Screen);
    height: var(--height-Smartphone-Screen);
    border-block: var(--border-Smartphone-Block);
    border-inline: var(--border-Smartphone-Inline);
    border-radius: var(--radius-Smartphone);
}

.screen__top {
    position: relative;
    display: grid;
    width: var(--width-Screen-Top);
    height: var(--height-Screen-Top);
    border-radius: var(--radius-Smartphone-Top);
    background-color: blueviolet;
    background: 
        linear-gradient(
            var(--gradient-Color-01)
        )
    ;
}

.screen__top::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: var(--width-Dynamic-Display);
    height: var(--height-Dynamic-Display);
    border-radius: var(--radius-Dynamic-Display);
    background-color: var(--color-White);
    z-index: 5;
}

.screen__center {
    display: grid;
    width: var(--width-Screen-Center);
    height: var(--height-Screen-Center);
    font-size: 1rem;
    padding-block: 
        var(--pd-Top-Screen-Chat-Wrapper)
        var(--pd-Bottom-Screen-Chat-Wrapper)
    ;
    padding-inline: 
        var(--pd-Inline-Screen-Chat-Wrapper)
    ;
}

.content__bottom {
    align-self: self-end;
    display: grid;
    gap: var(--gap-Message);
}

.price__option {
    display: grid;
    grid-template-columns: max-content max-content;
    align-content: center;
    width: var(--width-Price-Option);
    height: var(--height-Price-Option);
    background:
        linear-gradient(
            var(--gradient-Color-02)
        )
    ;
}

.price__option > p {
    font-size: 1rem;
}

.price__option > h2 {
    font-size: 1rem;
}

.screen__bottom {
    display: grid;
    align-self: self-end;
    width: var(--width-Screen-Bottom);
    height: var(--height-Screen-Bottom);
    padding-block: var(--pd-Block-Form);
}

.form__input_wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr max-content;
    width: var(--width-Form-Input-Wrapper);
    height: var(--height-Form-Input-Wrapper);
    padding: var(--pd-Box-Form-Input-Wrapper);
    margin-inline: auto;
    border-radius: var(--radius-Form-Input-Wrapper);
    background-color: var(--color-White);
}

.form__input_wrapper > input {
    text-indent: 1.400rem;
}

.form__input_wrapper > button {
    width: var(--width-Form-Send-Button);
    height: var(--height-Form-Send-Button);
    border-radius: var(--radius-Send-Button);
    background-color: var(--color-Submit-Button-Background);
}

/* FOOTER STYLES */